<div class="reservation-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h2 class="text-center mt-5 booking-title">My bookings</h2>
          <% @reservations.order(:status, :start_date).each do |reservation| %>
            <div class="card-product">
               <%= cl_image_tag reservation.game_world.photos.first.key, class: "d-block show-img" %>
              <div class="card-product-infos d-flex justify-content-around w-100 align-items-center">
                <div class="w-80">
                  <%= link_to reservation_path(reservation) do %>
                    <h2>Booking request N°<%= reservation.id %></h2>
                  <% end %>
                  <h4 id="world-name-card-reservation">In <%= reservation.game_world.name %></h4>
                  <p>Requested by <%= reservation.user.username %></p>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <p>from <%= reservation.start_date %></p>
                  <p>to <%= reservation.end_date %></p>
                </div>
                <div class="status-reservation">
                  <% if reservation.status == "pending" %>
                    <p class="bg-warning d-inline">Pending</p>
                  <% elsif reservation.status == "confirmed" %>
                    <p class="bg-success d-inline mr-3">Confirmed</p>
                  <% elsif reservation.status == "done" %>
                    <p class="bg-info d-inline">Done</p>
                  <% else %>
                    <p style="background-color:red;" class="d-inline">Declined</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
