<div class="container">
  <h1>Book an amazing experience</h1>
  <h3>Inside <%= @game_world.name %></h3>
  <p class="mb-4">Hosted by <%= @game_world.user.username %></p>
  <%= simple_form_for([@game_world, @reservation]) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit%> <%= link_to "Go Back", game_world_path(@game_world), class: "btn btn-go-back" %>
  <% end %>
</div>
