<div class="container">
  <h1>Booking request N°<%= @reservation.id %></h1>
  <h3>In <%= @reservation.game_world.name %></h3>
  <p class="mb-4">Requested by <%= @reservation.user.username %></p>
  <p>Start date: <%= @reservation.start_date %></p>
  <p class="mb-4">End date: <%= @reservation.end_date %></p>
  <p><%= @reservation.status.capitalize %></p>

  <% if @reservation.status == 'pending' %>
      <%= simple_form_for(@reservation) do |f| %>
        <%= f.input :start_date, as: :hidden %>
        <%= f.input :end_date, as: :hidden %>
        <%= f.input :status, collection: @statuses, include_blank: false %>
        <%= f.submit%>
      <% end %>
  <% elsif @reservation.status == 'confirmed' %>
    <div class="mt-5 m-3 btn btn-danger btn-reservation">
      <%= link_to 'Cancel this booking request', owner_reservation_path(@reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking request?"} %>
    </div>
  <% end %>
</div>
