<div class="reservation-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.teahub.io/photos/full/26-268037_basic-wallpapers-55ks9oc.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <ul class="d-flex">
        <% @reservations.each do |reservation| %>
          <li>
            <div class="card-trip m-2">
              <img src="https://res.cloudinary.com/dvbzytnxf/image/upload/v1660599824/hyrule_urn1yb.webp" />
              <div class="card-trip-infos">
                <div>
                  <div>
                    <%= link_to owner_reservation_path(reservation) do %>
                      <p style="font-size:20px">Reservation #<%= reservation.id %></p>
                      <p style="font-size: 14px"><%= reservation.game_world.name %></p>
                      <p style="font-size: 14px">from <%= reservation.start_date %> to <%= reservation.end_date %> </p>
                      <p style="font-size: 14px">Requested by by <%= reservation.user.username %></p>
                    <% end %>
                  </div>
                  <h6 class="status-tag"><%= reservation.status == "confirmed" ? "✅" : "⏳" %></h6>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
