<div class="d-flex justify-content-center">
  <h1><%= @game_world.name %></h1>
</div>

<div class="container card-show">
  <div id="carouselExampleIndicators" class="carousel slide d-flex justify-content-center" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner show-design">
      <% @game_world.photos.each_with_index do |photo, index| %>
        <% if index == 0  %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: "d-block show-img" %>
          </div>
        <% else %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, class: "d-block show-img" %>
          </div>
        <% end %>
      <% end %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="show-description">
    <div>
      <h4><%= @game_world.name %></h4>
      <p><%= @game_world.description %></p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Reserve Now", new_game_world_reservation_path(@game_world), class: "m-3 btn btn-flat mb-50" %>
  <% if @game_world.user == @user %>
  <div>
    <%= link_to "Edit", edit_game_world_path(@game_world), class: "m-3 btn btn-flat", style: "background-color:#62E7AC" %>
    <%= link_to "Delete world", game_world_path(@game_world), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this game world?"}, class: "m-3 btn btn-flat", style: "background-color:red" %>
  </div>
  <% end %>
</div>

<div class="container mb-4 mt-4">
  <div class="row d-flex justify-content-center">
    <h3 style="color: white; text-align: center;" class="mb-4">Location</h3>
    <div class="col-8">
      <div id="mapboxgl-show" class="d-flex">
        <div id="map" style="width: 1000px; height: 400px; border-radius: 8px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = ENV['MAPBOX_API_KEY'];
  const map = new mapboxgl.Map({
  container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9, // starting zoom
    projection: 'globe' // display the map as a 3D globe
  });
  map.on('style.load', () => {
    map.setFog({}); // Set the default atmosphere style
  });
</script>
